[Feature]: implement the `ef` parameter (RFC 8118, section 3)

### Is the feature relevant to the Firefox PDF Viewer?

Yes

### Feature description

[url targeting directly the embedded file shown in `/Names`](https://gitlab.freedesktop.org/-/project/882/uploads/febff7e85c91198a8b162342bb9249e0/hypgotoe-example.pdf#ef=hypgotoe-child.pdf).

At least with the _PDF.js_ version packaged for _Fedora 43_ (147.0.3), the `ef` parameter isn’t implemented. It is part of [section 3 from RFC 8118](https://www.rfc-editor.org/rfc/rfc8118.html#section-3).

Would you be so kind to implement it?

Many thanks for your help.

### Other PDF viewers

_No response_